.wrapper {
  background-color: transparent;
  width: 380px;
  height: 720px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff50;
  width: 255px;
  height: 380px;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  z-index: 12;
}

.joker1,
.joker2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-transform: uppercase;

  position: absolute;
}

.joker1 {
  top: 25px;
  left: 25px;
}
.joker2 {
  bottom: 25px;
  right: 25px;

  transform: rotate(180deg);
}

#joker-logo {
  fill: #ffffff40;
  width: 100px;
}
